.form {
  margin-top: -10px;
  ion-item{
    border-radius: 5px;
    border-color:blanchedalmond;
    border-width: solid;
    margin-bottom: 5px;
  }

}
ion-button{
   text-transform: none;
   background-color: honeydew;
}
ion-content {
  color: beige;
}